@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-overpass: "Overpass", serif;
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-gray: hsl(217, 12%, 63%);
  --color-neutral-dark-blue: hsl(213, 19%, 18%);
  --color-neutral-very-dark-blue: hsl(216, 12%, 8%);
  --color-star:#213141;
  --color-button: #252F38;
}
